.card {
    width: 300px;
    height: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #576cbc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card_img {
    max-width: 100px;
    max-height: 100px;
}

.card_title {
    margin-top: 10px;
    color: var(--color-text);
}
